@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary-hue: 262.1;
    --primary: var(--primary-hue) 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: var(--primary-hue) 83.3% 57.8%;
    --radius: 1rem;
    --chart-1: var(--primary-hue) 80% 56%;
    --chart-2: 192 70% 50%;
    --chart-3: 39 90% 55%;
    --chart-4: 22 95% 55%;
    --chart-5: 300 85% 60%;
    --sidebar-background: 220 14.3% 95.9%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: var(--primary-hue) 83.3% 57.8%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: var(--primary-hue) 83.3% 57.8%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 6.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 6.1%;
    --popover-foreground: 210 20% 98%;
    --primary-hue: 263.4;
    --primary: var(--primary-hue) 95.2% 58.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: var(--primary-hue) 95.2% 58.4%;
    --chart-1: var(--primary-hue) 80% 56%;
    --chart-2: 192 70% 50%;
    --chart-3: 39 90% 55%;
    --chart-4: 22 95% 55%;
    --chart-5: 300 85% 60%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: var(--primary-hue) 95.2% 58.4%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: var(--primary-hue) 95.2% 58.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-attachment: fixed;
  }
  .dark body {
     background-image:
      radial-gradient(at 27% 37%, hsla(var(--primary), 0.1) 0px, transparent 50%),
      radial-gradient(at 97% 21%, hsla(338, 70%, 61%, 0.1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 0.1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(var(--primary), 0.1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 62%, 0.1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 61%, 0.1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 63%, 0.1) 0px, transparent 50%);
  }
}

@layer components {
    .floating-blur-button-container {
        @apply fixed bottom-4 left-1/2 -translate-x-1/2 z-50;
    }
    .floating-blur-button-container > .clickable-button {
        @apply pointer-events-auto;
    }
}
